.todoList {
  .newTodoForm {
    display: inline-flex;
    gap: 8px;
    margin-bottom: 20px;
  }

  .todoList {
    display: grid;
    grid-template-columns: auto;
    gap: 8px;
    padding: 0;
  }

  .todoRow {
    display: grid;
    grid-template-columns: 205px auto;
    gap: 8px;
    align-items: baseline;
  }
}