.chatbot {
  display: flex;
  position: fixed;
  bottom: 30px;
  right: 30px;

  .chatbot-button {
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
    background-color: #3992ff;;
    color: white;
    width: 100px;
    border-radius: 50%;
    font-size: calc(3px + 2vmin);
    cursor: pointer;

    &.chat-enter {
      opacity: 0;
    }

    &.chat-enter-active {
      opacity: 1;
    }

    &.chat-enter-active {
      transition: opacity 200ms;
    }

    &:hover {
      background-color: #2b8ba6;
    }

    &:active {
      background-color: #04566c;
    }
  }

  .chat-window {
    font-size: 1rem;
    font-family: inherit;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
    background-color: white;
    line-height: 1.5;
    width: 400px;
    display: flex;
    flex-direction: column;

    &.chat-enter {
      opacity: 0;
      transform: translate(100vh, 100vh);
    }

    &.chat-enter-active {
      opacity: 1;
      transform: translate(0, 0);
    }

    &.chat-exit {
      opacity: 1;
      transform: translate(0, 0);
    }

    &.chat-exit-active {
      opacity: 0;
    }

    &.chat-enter-active,
    &.chat-exit-active {
      transition: opacity 300ms, transform 300ms;
    }

    .scroll-container {
      margin: 5px 0 5px 0;
      min-height: 300px;
      max-height: 600px;
      overflow: auto;
      display: flex;
      flex-direction: column-reverse;
      mask: linear-gradient(0deg, #0000, #000 1% 80%, #0000);
      -webkit-mask: linear-gradient(0deg, #0000, #000 1% 80%, #0000);
    }

    .close-button {
    float: right;
      border: none;
      padding: 3px;
      background: transparent;
      top: 0px;
      right: 0px;
      box-shadow: none;
      cursor: pointer;
      width: fit-content;
      position: absolute;
      margin: 5px 10px 0 0;

      &:hover {
        color: #2b8ba6;
      }

      &:active {
        color: #04566c;
      }
    }
  }

  .message-container {
    display: flex;
    padding: 10px 20px;

    &.outgoing {
      justify-content: flex-end;
      animation: slideUp 0.3s ease-in-out forwards;
    }

    &.incoming {
      justify-content: flex-start;
      animation: slideUp 0.3s ease-in-out forwards;
    }
  }

  .message {
    color: white;
    padding: 12px 14px;
    text-align: center;
    font-size: 18px;
    position: relative;
    display: inline-block;
    max-width: 80%;

    &.outgoing {
      background: #000000;
      border-radius: 50px 50px 0 50px;
    }

    &.incoming {
      background: #4b134f;
      border-radius: 0px 50px 50px 50px;
    }
  }

  .new-message {
    margin: 5px;
    padding: 10px;
    border: 2px solid #14151a;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpDiagonal {
  0% {
    opacity: 0;
    transform: translate(100vh, 100vh);

  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slideDownDiagonal {
  0% {
    opacity: 1;

  }

  100% {
    opacity: 0;
    transform: translate(100vh, 100vh);
  }
}

@keyframes slideOut {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: -56px;
    opacity: 0;
  }
}